{% extends "base.html" %}
{% block content %}
  <h2>Αλλαγή Κωδικού</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.old_password.label(class="form-label") }}
      {{ form.old_password(class="form-control", placeholder="Παλιός Κωδικός") }}
      {% for e in form.old_password.errors %}
        <div class="text-danger small">{{ e }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.new_password.label(class="form-label") }}
      {{ form.new_password(class="form-control", placeholder="Νέος Κωδικός") }}
      {% for e in form.new_password.errors %}
        <div class="text-danger small">{{ e }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.confirm.label(class="form-label") }}
      {{ form.confirm(class="form-control", placeholder="Επιβεβαίωση Νέου Κωδικού") }}
      {% for e in form.confirm.errors %}
        <div class="text-danger small">{{ e }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
  </form>
{% endblock %}