{% extends 'base.html' %}

{% block content %}
  <h2>Επεξεργασία Γεύσης: {{ flavor.name }}</h2>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }} 
      {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.stores.label }}
      {{ form.stores(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Αποθήκευση Αλλαγών</button>
    <a href="{{ url_for('flavors.index') }}" class="btn btn-secondary mt-3">Ακύρωση</a>
  </form>
{% endblock %}